<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Lotto Game</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
<img  alt="lottocard" src="/img/ticket.jfif"  align="left" width="225" height="224">
<img  alt="lottocard" src="/img/ticket.jfif"  align="right" width="225" height="224">
    Thank for Playing.<br>   
    The Winning Numbers are:<br>   
 <html>
<head>
<title> Lotto Result </title>
</head>
<body>
<%
lotto()
num1 = num1.to_i
num2 = num2.to_i
num3 = num3.to_i
num4 = num4.to_i 
num5 = num5.to_i
num6 = num6.to_i
player_numbers = [num1, num2, num3, num4, num5, num6]
matches = player_numbers & winning_numbers
num_match = matches.length
%>
<%= winning_numbers() %><br><br>
Your numbers are:<br>
<%= player_numbers %><br>
You won <%= num_match %> numbers<br>
<table align = "center" border= "3"bordercolor= "black" width= "600" cellpadding= "7">
<caption><h3> Lotto Winning </h3></caption>
<tr>
<td><i><b> 4 Number Winner </b></i></td>
<td><i><b> 5 Number Winner </b></i></td>
<td><i><b> 6 Number Winner </b></i></td>
</tr>
<tr>
<td><b> $1000 </b></td>
<td><b> $5000 </b></td>
<td><b> $1,000,000 </b></td>
</tr>
</center>
</body>
<br><br><br>
<script>
window.onload=getOrderDate('date');
</script>

