<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title> Welcome to Chris's Lotto</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
Welcome to Lotto
<br><br>
What are your Lotto Numbers
<form method="post" action="number">
	<input type= "text" name= "num1">
	<input type= "text" name= "num2">
	<input type= "text" name= "num3">
	<input type= "text" name= "num4">
	<input type= "text" name= "num5">
	<input type= "text" name= "num6">
	<input type= "submit" name= "Submit">
</form>
<br><br><br><br><br><br>
<a href='//localhost:4567/lottohome'>Go!</a>
</center>
</body>
<script>
	window.onload=getOrderDate('date');
</script>