<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Lotto Game</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<body>
<img  alt="lottocard" src="/img/ticket.jfif"  align="left" width="225" height="224">
<img  alt="lottocard" src="/img/ticket.jfif"  align="right" width="225" height="224">
    Thank for Playing.<br>   
    Your Winning are:<br>
 <html>
<head>
<title> Lotto Result </title>
</head>
<body>
<table align = "center" border= "3"bordercolor= "black" width= "600" cellpadding= "7">
<caption><h3> Lotto Winning </h3></caption>
<tr>
<td><i><b> 4 Number Winner </b></i></td>
<td><i><b> 5 Number Winner </b></i></td>
<td><i><b> 6 Number Winner </b></i></td>
</tr>
<tr>
<td><b> $100 </b></td>
<td><b> $500 </b></td>
<td><b> $1,000,000 </b></td>
</tr>
<form method="post" action="winning_number">
<input type= "text" name= "num1">
<input type= "text" name= "num2">
<input type= "text" name= "num3">
<input type= "text" name= "num4">
<input type= "text" name= "num5">
<input type= "text" name= "num6">
</form>
</center>
</body>
<br><br><br>
<script>
window.onload=getOrderDate('date');
</script>

